<div class="noise"></div>
<nav class="navigation">
    <h1>
        <a id="go-home">
          <span class="nav-label-desktop">Valia Liu</span>
          <span class="nav-label-mobile">Selected Works</span>
        </a>
    </h1>
    <hr>
    <div class="category">
        <label><input type="checkbox" id="brandingc"> Visual Identity</label>
        <label><input type="checkbox" id="websitec"> Website</label>
        <label><input type="checkbox" id="printedc"> Printed Matter</label>
        <label><input type="checkbox" id="movingc"> Moving Image</label>
        <label><input type="checkbox" id="albumc"> Album</label>
        <label><input type="checkbox" id="modelingc"> 3D Modeling</label>
    </div>       
    <div class="filter-controls">
        <button id="all">All</button>
        <button id="clear">Clear</button>
    </div>
    <hr>
    <h1>
        <a id="archive">Archive</a>
        <a id="about">About</a>
        <a href="mailto:valialiuwork@gmail.com">
            Email<span class="no-emoji-arrow">&#8599;</span>
        </a>
    </h1>

    <footer class="nav-footer">
        © Valia Liu 2025
    </footer>
</nav>