<div class="noise"></div>
<nav class="navigation">
    <h1>
        <a id="go-home" class="hoverZoom">
          <span class="nav-label-desktop">Valia Liu</span>
          <span class="nav-label-mobile">Selected Works</span>
        </a>
    </h1>

    <div class="work-categories">
        <hr>
        <div class="category">
            <label class="hoverZoom"><input type="checkbox" id="identity"> identity</label>
            <label class="hoverZoom"><input type="checkbox" id="campaign"> campaign</label>
            <label class="hoverZoom"><input type="checkbox" id="web"> web</label>
            <label class="hoverZoom"><input type="checkbox" id="print"> print</label>
            <label class="hoverZoom"><input type="checkbox" id="video"> video</label>
        </div>       
        <div class="filter-controls">
            <button id="all" class="hoverZoom">select all</button>
            <button id="clear" class="hoverZoom">clear</button>
        </div>
        <hr>
    </div>

    <h1>
        <a id="about" class="hoverZoom">About</a>
        <a id="archive" class="hoverZoom" style="margin-top: 6px;">Archive</a>
    </h1>

        <form class="colorTheme" onsubmit="return false">
                <label for="colortheme">Color Theme:</label>
                <select name="colortheme" id="colortheme">
                        <!-- options populated from /archive/palette.json -->
                </select>
        </form>

    <footer class="nav-footer">
        © Valia Liu 2026
    </footer>
</nav>