<div id="bg"><div class="noise nopc"></div></div>

<div class="mobile-nav">
  <div class="noise"></div>
  <h1 class="mobile-title"><a href="../../index.html">Valia Liu</a></h1>
  <button class="hamburger-menu">☰</button>
</div>

<nav id="navigation"></nav>

<div class="container">
  <main class="content project-content">
    <h1 id="project-title"></h1>

    <div class="data-block" data-field="medium"></div>
    <div class="data-block" data-field="date"></div>
    <div class="data-block" data-field="dimension"></div>
    <div class="data-block" data-field="collaborator"></div>

    <div class="individual-container">
      <div class="top-row">
        <div class="title-col">
          <h3 id="title-category">Category:</h3>
          <h3 id="title-date">Date:</h3>
          <h3 id="title-dimension">Dimension:</h3>
          <h3 id="title-collaborator">Collaborator:</h3>
        </div>

        <div class="info-col">
          <h3 id="medium"></h3>
          <h3 id="date"></h3>
          <h3 id="dimension"></h3>
          <h3 id="collaborator"></h3>
        </div>
      </div>

      <div class="description-col">
        <h3 id="project-description"></h3>
      </div>
    </div>

    <br><hr>
    <div id="project-media"></div>
    <hr>
    <div class="hoverZoomRight" style="float: right; padding-bottom: 8px;">
      <h1 onclick="history.back()" class="back">&#8592 Go Back</h1>
      <br><br>
    </div>
  </main>
</div>